.transaction-item {
    display: grid;
    grid-template-columns: auto min-content;
    grid-column-gap: 15px;
    width: 100%;

    .row-1 {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }

    .row-2 {
        display: grid;
        width: 100%;
        justify-items: end;
    }
}

.amount {
    text-align: right;

    &.green {
        color: green;
    }

    &.red {
        color: red;
    }
}

ons-list-header {
    font-size: 16px;
    font-weight: bold;
    padding: 12px 6px 12px 15px;
}

.balance {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
